body {
    background-color: #222222;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .app-bar {
    background-color:#353535;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
  }
  
  h1 {
    font-size: 35px;
    margin: 0;
  }
  
  .album-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 80px;
  }
  
  .album {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  
  .album img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .album-name {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
  }
  
  .album-year {
    margin-top: 5px;
    font-size: 20px;
    text-align: left;
  }
  
  .spotify-link img {
    width: 44px;
    height: 44px;
    align-items: left;
  }
  